@font-face {
    font-family: Aventi;
    src: url('./fonts/Aventi/Aventi.ttf') format('truetype');
}

@font-face {
    font-family: Harmond;
    src: url('./fonts/Harmond/Harmond-SemBdItaCond.otf') format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Glamor;
    src: url('./fonts/Glamor/Glamor-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Butler;
    src: url('./fonts/Butler/Butler_Bold.otf') format('truetype');
}

@font-face {
    font-family: Kabond;
    src: url('./fonts/Kabond/KABOND.otf') format('truetype');
}

@font-face {
    font-family: HvLight;
    src: url('./fonts/Helvetica/Helvetica Neue Ultralight.ttf') format('truetype');
}

h1{
    font-weight: normal;
    font-size: 160px;
    text-align: center;
}

h2{
    font-weight: normal;
    font-size: 30px;
    font-family: Roboto;
    text-align: center;
    /* padding: 0px 150px; */
}

h3{
    font-weight: normal;
    font-size: 24px;
    font-family: Roboto;
    text-align: center;
}

#fancytext {
    font-family: Harmond;
}

#roboto{
    font-family: Roboto;
}

#glamor{
    font-family: Glamor;
}

#butler{
    font-family: Butler;
}

#kabond{
    font-family: Kabond;
    font-style: italic;
}

#hlight{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* font-weight: bolder; */
}

#wrap{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bolder;
    color:black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    /* opacity: 0.5; */
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    height: 200px;
    overflow-x: hidden;
    overflow: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 120s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.container{
    position: relative;
    /* background-color:green */
}
.top{
    position: relative;
    line-height: 260px;
    margin: 0px;
    width: 100%;
    background-color: white;
}
.bottom{
    top: 210px;
    position: absolute;
    /* background-color: red */
    mix-blend-mode: difference;
    overflow: hidden;
}
.namebox{
    position: absolute;
    top: 60px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 500px; /* Need a specific value to work */
    /* background-color: green; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    z-index: 1;
    font-size: 2em;
    color: black;
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px;
    gap: 0.5em;
  }
  
  header * {
    margin: 0px 7px;
    padding: 0;
    align-items: right;
    float: right;
    
  }
  
  header ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    color: black;
    font-size: 12px;
    text-decoration:none;
  }

.number{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bolder;
    /* color:black; */
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E3E3E3;
    position: relative;
    line-height: 260px;
    height: 200px;
    font-size: 230px;  
}
.label{
    font-family: Harmond;
    /* margin: 100px; */
    width:100%;
    top:-70px;
    height:200px;  
    position: relative;
    color:black;
    font-size: 120px;
    /* background-color:blue;  */
}

.hidden{
    opacity: 0;
    /* filter:blur(5px); */
    transform: translateX(-30%);
    transition: all 2s;
}

.show{
    /* filter:blur(0); */
    opacity: 1;
    transform: translateX(0);
}