html { overflow: hidden; } 
body { overflow: hidden; }
.parallax-remove-scrollbar {
	-webkit-scrollbar-display: none !important;
	scrollbar-width: 0 !important;
	overflow: hidden !important;
}
@font-face {
  font-family: Aventi;
  src: url('./fonts/Aventi/Aventi.ttf') format('truetype');
}

@font-face {
  font-family: Harmond;
  src: url('./fonts/Harmond/Harmond-SemBdItaCond.otf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Glamor;
  src: url('vite-project/fonts/Glamor/Glamor-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Butler;
  src: url('./fonts/Butler/Butler_Bold.otf') format('truetype');
}

@font-face {
  font-family: Kabond;
  src: url('./fonts/Kabond/KABOND.otf') format('truetype');
}

@font-face {
  font-family: HvLight;
  src: url('./fonts/Helvetica/Helvetica Neue Ultralight.ttf') format('truetype');
}

@font-face {
  font-family: Manrope;
  src: url('./fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 2000px;
}



h1{
  font-weight: normal;
  font-size: 300px;
  text-align: center;
}

h2{
  font-weight: normal;
  font-size: 30px;
  font-family: Roboto;
  text-align: center;
  /* padding: 0px 150px; */
}

h3{
  font-weight: normal;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}

#fancytext {
  font-family: Harmond;
}

#roboto{
  font-family: Roboto;
}

#glamor{
  font-family: Glamor;
}

#butler{
  font-family: Butler;
}

#kabond{
  font-family: Kabond;
  font-style: italic;
}

#hlight{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-weight: bolder; */
}

#manrope{
  font-family: 'Manrope', sans-serif;
  font-weight: 700px
}

#wrap{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bolder;
  color:black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  /* opacity: 0.5; */
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  height: 250px;
  overflow-x: hidden;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  
  animation: marquee 120s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.container{
  position: relative;
  /* background-color:green */
}
.top{
  position: absolute;
  line-height: 260px;
  top:11%;
  margin: 0px;
  width: 100%;
  background-color: white;
}
.labelling{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 70%;
}
.bottom{
  top: 45%;
  position: absolute;
  /* background-color: red */
  mix-blend-mode: difference;
  overflow: hidden;
}
.namebox{
  position: absolute;
  top: 20%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; /* Need a specific value to work */
  /* background-color: green; */
}

header {
  position: fixed;
  top: 0;
  left: -10px;
  right: 0;
  height: 50px;
  z-index: 1;
  font-size: 2em;
  color: black;
  background-color:white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
  gap: 0.5em;
}

header * {
  margin: 0px 7px;
  padding: 0;
  align-items: right;
  float: right;
  
}

header ul {
  list-style: none;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  position: relative;
  color: black;
  font-size: 12px;
  text-decoration:none;
}

header ul li a::after{
  content: "";
  position: absolute;
  background-color: #B1B1B1;
  height: 2px;
  width: 0px;
  bottom: -4px;
  transition: 0.5s ease;
}

header ul li a:hover::after{
  width: 100%;
}

.number{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bolder;
  /* color:black; */
  color:white;
  left: -500;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #E3E3E3;
  position: relative;
  line-height: 260px;
  /* height: 200px; */
  font-size: 230px;  
}
.label{
  font-family: Harmond;
  /* margin: 100px; */
  width:100%;
  top:-95px;
  /* height:200px;   */
  position: relative;
  color:black;
  font-size: 120px;
  writing-mode:vertical-lr;
  /* background-color:blue;  */
}

.hidden{
  opacity: 0;
  /* filter:blur(5px); */
  transform: translateX(-30%);
  transition: all 2s;
}

.show{
  /* filter:blur(0); */
  opacity: 1;
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}


#info {
  text-align: right
}

.frontbox{
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.5s;
  
}
/* .frontbox:hover {
  transform: rotate(45deg);
} */

.backbox{
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.5s;
}
/* .backbox:hover {
  transform: rotate(-90deg);
} */

/* .logo:hover{
  transform: rotate(-90deg);
} */

.texticon {
  transition: transform 0.5s;
  transform-box: fill-box; transform-origin: center; 
}

/* .logo:hover > rect.backbox{ transform: rotate(-90deg); transform-origin: 20px 20px;} */
.logo:hover > rect.frontbox { transform: rotate(45deg);}
.logo:hover > rect.backbox { transform: rotate(-90deg);}
.logo:hover > g.texticon { transform: scale(1.1); }


.section1right{
  
}
